/* --------- heading --------- */

.heading-section{
  text-align: center;
}

.heading-section h1{
  font-size: 58px;
}

.heading-section h2{
  margin-top: 30px;
}

.heading-button-left{
  min-width: 144px;
  max-width: 100%;
}

.heading-button-right{
  margin-left: 10px;
}