<section id="contact" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
		      <div class="contact-section contact-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
		            <div>
		            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Contact Us</h2>
		            </div>
		            <div>
			        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.</h3>
			        </div>
		        </div>



				<form class="formwidth" (ngSubmit)="onSubmit()">
				  <div class="contact-form" [ngStyle.xs]="{'padding-left': '50px', 'padding-right': '50px'}" [ngStyle.sm]="{'padding-left': '100px', 'padding-right': '100px'}" [ngStyle.md]="{'padding-left': '150px', 'padding-right': '150px'}" [ngStyle.lg]="{'padding-left': '200px', 'padding-right': '200px'}">
					  
				  	  <mat-form-field appearance="outline" color="accent">
					  	<mat-label>Please enter your name </mat-label>
					    <input matInput placeholder="Name" [formControl]="nameFormControl"
					           [errorStateMatcher]="matcher">
					    <mat-error *ngIf="nameFormControl.hasError('required')">
					      Name is <strong>required</strong>
					    </mat-error>
					  </mat-form-field>

					  <mat-form-field appearance="outline" color="accent">
					  	<mat-label>Please enter your phone </mat-label>
					    <input matInput placeholder="Phone" [formControl]="phoneFormControl"
					           [errorStateMatcher]="matcher">
					    <mat-error *ngIf="phoneFormControl.hasError('required')">
					      Phone is <strong>required</strong>
					    </mat-error>
					  </mat-form-field>

					  <mat-form-field appearance="outline" color="accent">
					  	<mat-label>Please enter your email </mat-label>
					    <input matInput placeholder="Email" [formControl]="emailFormControl"
					           [errorStateMatcher]="matcher">
					    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
					      Please enter a valid email address
					    </mat-error>
					    <mat-error *ngIf="emailFormControl.hasError('required')">
					      Email is <strong>required</strong>
					    </mat-error>
					  </mat-form-field>

					  <br>

					  <div fxLayout="row" fxLayoutAlign="center center">
					    <button mat-raised-button color="accent" type="submit">Contact Us</button>
					   </div>

				  </div>
  					
				</form>
	</div>
</section>
